* {
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    font-family: Playfair Display;
    font-weight: 400;
    word-spacing: 3px;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;
}


nav{
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    text-align: center;
}

.header a {
    text-align: center;
    text-decoration: none;
    color: purple;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.15s ease;
    font-family: Raleway, sans-serif;
}

a:hover {
    padding: 2px 8px 2px 8px;
    background-color: purple;
    border-radius: 7px;
    color: white;
    opacity: 0.8;
    text-align: center;
}


#first-page {
    position: relative;
    min-height: 1300px;
    width: 100%;
    background: linear-gradient(90deg, #ECD3FA, #f7d2c5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: -900px;
    margin-bottom: 10px;
    height: 100%;
}

.main-screen {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 300px;
    margin-left: 700px;
    padding-top: 170px; 
}


.intro {
    position: relative;
    display: flex;
    width: fit-content;
}

.heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: -400px;
    margin-left: -600px;
}

.project-name {
    font-size: 57px;
    text-align: left;
    margin-top: 60px;
    color: black;
    font-weight: 700;
}

.project-about {   
    margin-top: 20px;
    font-size: 20px;
    margin-left: 3px;
    color: black;
    font-weight: 700;
    width: 600px;
}