* {
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    font-family: Proxima Nova;
    font-weight: 400;
}


#fourth-page  {
    position: relative;
    height: calc(100*-vh);
    width: 100vw;
    background: url('https://i.pinimg.com/originals/4b/dd/08/4bdd083ae4c96a16b63c8bf5e1f2492a.gif');
    background-size: cover;
    opacity: 0.9;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page {
    position: relative;
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 150px;
    grid-template-columns: auto auto auto;
    display: grid;
    opacity: 1;
}

.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}


.left-side {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    margin-right: 80px;
    opacity: 1;
    z-index: 5;
}

.form-side {
    position: relative;
    font-size: 21px;
    text-align: left;

    font-weight:700;
    width: 550px;
    font-family: Proxima Nova;
    opacity: 1;
    z-index: 5;
}

.about-form {
    padding-top: 30px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.697);
    font-family: Proxima Nova;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}


.contact {
    position: relative;
    font-size: 57px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-weight:700;
    width: 300px;
    opacity: 1;
    z-index: 5;
    font-family: Proxima Nova;
}
 /* 

.gif {
    margin-top: 80px;
} */ 

.abstract-pic {
    position: relative;
    width: 500px;
    margin-top: 40px;
    opacity: 1;
    z-index: 5;
}


.right-side {
    position: relative;
    align-items: start;
    margin-top: 100px;
}

.form-contact {
    width: 450px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    background-color: transparent;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border: 1.5px solid #e4acee;
    border-radius: 4px;
    margin-top: 1px;
}

.form-group textarea {
    resize: vertical;
    height: 200px;
}

::placeholder {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color:#000000;
    text-decoration: none;
    cursor: text;
    text-align: left;
    opacity: 0.6;
}


.submit-button {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    background-color: #5d2467;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    width: 450px;
}

.submit-button:hover {
    color: #5d2467;
    background-color: #e59cf2;
    font-weight: bold;
    border-radius: 4px;
    border: solid;
    border-color: #9c27b0;
}

@media (min-width: 200px) and (max-width: 1200px) {

    .contact-page {
        flex-direction: column;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
    }

    .contact-header {
        margin-bottom: 20px;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        margin: 0px;
        padding: 0px;
        text-align: center;
        align-items: center;
        font-size: 57px;
    }

    .left-side,
    .right-side {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .form-side {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .about-form {
        font-size: 21px;
        text-align: justify;
    }

    form {
        margin-right: 40px;
    }

    .form-contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }

}
