* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova;
    font-weight: 400;
    word-spacing: 3px;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;

}

nav {
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 20px 25px;
    justify-content: center;
    text-align: center;
}

.header a {
    text-align: center;
    text-decoration: none;
    color: rgb(200, 136, 200);
    font-weight: bold;
    font-size: 22px;
    transition: all 0.15s ease;
}

a:hover {
    padding: 2px 8px 2px 8px;
    background-color: purple;
    border-radius: 7px;
    color: white;
    opacity: 0.8;
    text-align: center;
}

#first-page {
    position: relative;
    height: calc(100*-vh);
    /* height: -webkit-fill-available; */
    width: 100vw;
    background: linear-gradient(90deg, #ECD3FA, #f7d2c5);
    background: url('https://i.pinimg.com/originals/34/ac/69/34ac692bf5ec7927319b911185b39d35.gif');
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.body-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 10px;
    width: fit-content;
}

.intro {
    margin-top: 150px;
    margin-bottom: 100px;
    grid-template-columns: auto auto;
    gap: 120px;
    padding-top: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1;
}

.heading {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    margin-left: 60px;
}

.about-me {
    font-size: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 0.792);
    font-weight: 700;
    margin-top: 50px;
    font-family: Proxima Nova;
}

.my-name {
    font-family: Proxima Nova;
    font-size: 75px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.description {
    font-size: 22px;
    border: none;
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
    width: 520px;
    color: rgba(255, 255, 255, 0.792);
    font-family: Proxima Nova;
}

.profile-pic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pfp {
    width: 375px;
    margin-top: 37px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.pfp:hover {
    transform: scale(1.1);
}

/* Media Queries */

@media (min-width: 200px) and (max-width: 1200px) {
    .intro {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        flex-direction: column;
        margin-top: 200px;
    }

    .about-me {
        font-size: 30px;
    }

    .my-name {
        font-size: 75px;
    }

    .description {
        font-size: 22px;
    }

    .pfp {
        width: 100%;
        min-width: 50px;
        max-width: 375px;
    }
}

/* 
@media (max-width: 600px) {
    .pfp {
        width: 100%;
        max-width: 200px;
    }

    .about-me {
        font-size: 24px;
    }

    .my-name {
        font-size: 50px;
    }
} */
