* {
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    font-family: Proxima Nova;
    font-weight: 400;
    word-spacing: 3px;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;
    background-color: #9b27b079;
}


nav{
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 20px 25px;;
    justify-content: center;
    text-align: center;
}

.header a {
    text-align: center;
    text-decoration: none;
    color: purple;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.15s ease;
}

a:hover {
    padding: 2px 8px 2px 8px;
    background-color: purple;
    border-radius: 7px;
    color: white;
    opacity: 0.8;
    text-align: center;
}

#first-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #ECD3FA, #f7d2c5);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
#first-page::before{
    content: "";
    position: absolute;
    height: 160px;
    width: 160px;
    transform: translate(-440px, -90px);
    background: linear-gradient(90deg, #9c27b0,#ECD3FA);
    border-radius: 100px;
} */

.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 10px;
    width: fit-content;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
   	"right"
   	"left";
    gap: 120px;
    padding-top: 200px; 
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1;
}


.heading {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    margin-left: 60px;
}

.about-me {
    font-size: 30px;
    text-align: left;
    color: black;
    font-weight: 700;
    margin-top: 50px;
    font-family: Proxima Nova;
}

.my-name {
    font-family: Proxima Nova;
    font-size: 75px;
    color: black;
    font-weight: 700;
}

.description {
    font-size: 22px;
    border: none;
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
    width: 520px;
    color: black;
    font-family: Proxima Nova;
}

.profile-pic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pfp {
    width: 375px;
    margin-top: 37px;
    border-radius: 8px;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}

.pfp:hover {
    transform: scale(1.1); 
}

@media (min-width: 500px) {
    .intro {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "right"
        "left";
    }
}

/* @media (min-width: 801px) and (max-width: 1349px) {
    .intro {
        grid-template-columns: 1fr 1fr;
    }
} */
