* {
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    font-family: Proxima Nova;
    font-weight: 400;
    word-spacing: 3px;
}


#fourth-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #ECD3FA, #f7d2c5);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -100px;
}


.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    animation: fadeIn 2s ease-in; 
}

.main-screen {
    position: relative;
    display: flex;
    align-items: flex-start;
}


.intro-proj {
    position: relative;
    display: flex;
    width: fit-content;
}

.heading-proj {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 80px;
}

.project-name {
    font-size: 57px;
    padding-left: 30px;
    color: black;
    font-weight: 700;
    font-family: Proxima Nova;  
    width: max-content;
}

.project-about {   
    margin-top: 20px;
    font-size: 21px;
    padding-left: 32px;
    color: black;
    width: 850px;
    font-family: Proxima Nova;
}